*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
}

.caixa{
    width: 100vw;
    height: 100vh;
 

}
.caixa-esquerda{
    display: inline-block;
    width: 60%;
    margin-top: 15%;
    padding: 136px;

}
.caixa-direita{
    display: inline-block;
    background: #5D5D7D;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;

}

img{
    position: relative;
    top: 30%;
    right: 130px;
}

h1{
    color: #5D5D7D;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    width: 368px;

    }
p{
    color: #5D5D7D;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    opacity: 0.6;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 540px;

}
button{
    
    filter: drop-shadow(0px 10px 24px rgba(148, 153, 234, 0.10));
    width: 269px;
    height: 62px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background:  #9499EA;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}

button:active {
    opacity: .6;
}

a{
    color: #5D5D7D;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 41px;
    cursor: pointer;
}

a:nth-child(2) {
    opacity:  0.4;
}
a:hover {
    opacity: .4;

}
a:active {
    opacity: .8;
}

header{
    margin: 24px 0 0 57px;
}

@media screen and (max-width:900px){
    .caixa-esquerda {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0 ;
    }
    .caixa-direita{
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;

        
    }

    img{
        position: static;
        max-width: 90%
    }

    header {
        display: none;
    }
    h1{ 
        font-weight: 400;
        font-size: 36px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }
    p{
        margin: 15px 48px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }
    button{ 
        display: block;
        margin: 0 auto;
    }

            
}